.container
    align-items: center
    display: flex

.mat-form-field
    padding-top: 1.34375em
    width: 300px

.balance-annotation-container
    align-items: center
    display: flex

.pointer
    border-bottom: 5px solid transparent
    border-right: 4px solid #E8E8E8
    border-top: 5px solid transparent
    display: inline-block
    height: 0
    margin-left: 2px
    width: 0

.balance-annotation
    align-items: center
    background-color: #E8E8E8
    border-radius: 4px
    display: flex

    .mat-icon
        color: #21BA45
        font-size: 1.2em
        padding-top: 5px
        text-align: center

    label
        color: rgb(0, 0, 0, .6)
        font-size: .85714286rem
        font-weight: 500
        padding: 0 5px
