<div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Select an account</mat-label>

        <input #trigger="matAutocompleteTrigger"
               matInput
               aria-label="Account Name"
               placeholder="Pick one"
               type="text"
               [formControl]="accountControl"
               [matAutocomplete]="auto">

        <button *ngIf="accountControl.value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="clearAccountSelector($event, trigger)">
            <mat-icon>close</mat-icon>
        </button>

        <mat-autocomplete #auto="matAutocomplete"
                          autoActiveFirstOption
                          [displayWith]="accountDisplayName"
                          (optionSelected)="selectAccount($event.option.value)">
            <mat-option *ngFor="let account of filteredAccounts | async"
                        [value]="account">
                <mat-icon>person</mat-icon>
                <span>{{account.name}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div class="balance-annotation-container"
         *ngIf="selectedAccount">
        <span class="pointer"></span>
        <div class="balance-annotation">
            <mat-icon>local_atm</mat-icon>
            <label>{{selectedAccount.balance}}</label>
        </div>
    </div>
</div>
