<h1>Balances</h1>

<table mat-table [dataSource]="accounts">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef><strong>Name</strong></th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef><strong>Address</strong></th>
        <td mat-cell *matCellDef="let element">
            {{element.address}}
            <button mat-icon-button aria-label="Copy address button" class="btn-copy"
                #tooltip="matTooltip"
                matTooltip="Copied!"
                matTooltipDisabled="true"
                matTooltipPosition="right"
                (click)="copyAddress(element.address)">
                <mat-icon>content_copy</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef><strong>Balance</strong></th>
        <td mat-cell *matCellDef="let element">{{element.balance}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let odd = odd" [class.odd]="odd"></tr>
</table>