<h1>Balances</h1>

<table mat-table
       [dataSource]="accounts">
    <ng-container matColumnDef="name">
        <th *matHeaderCellDef
            mat-header-cell>
            <strong>Name</strong>
        </th>
        <td *matCellDef="let element"
            mat-cell>{{element.name}}
        </td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th *matHeaderCellDef
            mat-header-cell>
            <strong>Address</strong>
        </th>
        <td *matCellDef="let element"
            mat-cell>
            <span class="address">{{element.address}}</span>
            <button #tooltip="matTooltip"
                    mat-icon-button
                    aria-label="Copy address button"
                    class="icon-button"
                    matTooltip="Copied!"
                    matTooltipDisabled="true"
                    matTooltipPosition="right"
                    [cdkCopyToClipboard]="element.address"
                    (click)="show(tooltip)">
                <mat-icon>content_copy</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="balance">
        <th *matHeaderCellDef
            mat-header-cell>
            <strong>Balance</strong>
        </th>
        <td *matCellDef="let element"
            mat-cell>{{element.balance}}
        </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns"
        mat-header-row>
    </tr>

    <tr *matRowDef="let row; columns: displayedColumns; let even = even"
        mat-row
        [class.even-row]="even">
    </tr>
</table>
