.mat-header-row
    height: 40px

.mat-column-name
    padding-right: 16px
    text-align: right

.mat-column-address, .mat-column-balance
    padding-left: 16px

.odd
    background-color: rgba(0,0,50,.02)

.btn-copy
    box-shadow: 0 0 0 1px #2185d0 inset !important
    color: #2185d0 !important