<h1>Pallet Interactor</h1>

<form [formGroup]="interactorForm">
    <h3>Interaction Type</h3>

    <mat-button-toggle-group formControlName="interactionType"
                             name="iteractionType"
                             aria-name="Interation Type">
        <mat-button-toggle [value]="interactionType.Extrinsic">Extrinsic</mat-button-toggle>
        <mat-button-toggle [value]="interactionType.Query">Query</mat-button-toggle>
        <mat-button-toggle [value]="interactionType.Rpc">RPC</mat-button-toggle>
        <mat-button-toggle [value]="interactionType.Constant">Constant</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field appearance="fill">
        <mat-label>Pallets / RPC</mat-label>
        <mat-select formControlName="palletRpc">
            <mat-option *ngFor="let rpc of palletRpcs"
                        [value]="rpc">{{rpc}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Callables</mat-label>
        <mat-select formControlName="palletCallable">
            <mat-option *ngFor="let callable of palletCallables"
                        [value]="callable">{{callable}}</mat-option>
        </mat-select>
    </mat-form-field>

    <ng-container *ngFor="let control of palletParamControls; let i = index;">
        <mat-form-field appearance="fill">
            <mat-label>{{selectedRpcParams[i].label}}</mat-label>
            <input matInput
                   [formControl]="control"
                   [placeholder]="selectedRpcParams[i].placeholder">
        </mat-form-field>
    </ng-container>

    <div class="btn-container">
        <ng-container *ngIf="interactorForm.get('interactionType')?.value === interactionType.Extrinsic">
            <button mat-raised-button
                    [disabled]="unsignedDisabled">
                Unsigned
            </button>
            <label>or</label>
        </ng-container>
        <button mat-raised-button
                color="primary"
                (click)="signedButtonClicked()">
            {{signedButtonLabel}}
        </button>
        <ng-container *ngIf="interactorForm.get('interactionType')?.value === interactionType.Extrinsic">
            <label>or</label>
            <button *ngIf="interactorForm.get('interactionType')?.value === interactionType.Extrinsic"
                    mat-raised-button
                    color="warn"
                    [disabled]="sudoDisabled">
                SUDO
            </button>
        </ng-container>
    </div>

    <label *ngIf="transferStatus"
           class="status-label">{{transferStatus}}</label>
</form>
