<h1>Pallet Interactor</h1>

<form [formGroup]="interactorForm">
    <h3>Interaction Type</h3>

    <mat-button-toggle-group formControlName="interactionType"
                             name="iteractionType"
                             aria-name="Interation Type">
        <mat-button-toggle [value]="interactionType.extrinsic">Extrinsic</mat-button-toggle>
        <mat-button-toggle [value]="interactionType.query">Query</mat-button-toggle>
        <mat-button-toggle [value]="interactionType.rpc">RPC</mat-button-toggle>
        <mat-button-toggle [value]="interactionType.constant">Constant</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field appearance="fill">
        <mat-label>Pallets / RPC</mat-label>
        <mat-select formControlName="palletRpc">
            <mat-option *ngFor="let rpc of palletRpcs"
                        [value]="rpc">{{rpc}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Callables</mat-label>
        <mat-select formControlName="palletCallable">
            <mat-option *ngFor="let callable of palletCallables"
                        [value]="callable">{{callable}}</mat-option>
        </mat-select>
    </mat-form-field>

    <ng-container *ngFor="let control of palletParamControls">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput
                   [formControl]="control">
        </mat-form-field>
    </ng-container>

    <div class="btn-container">
        <button mat-raised-button
                [disabled]="unsignedDisabled">
            Unsigned
        </button>
        <label>or</label>
        <button mat-raised-button
                color="primary"
                [disabled]="signedDisabled">
            Signed
        </button>
        <label>or</label>
        <button mat-raised-button
                color="warn"
                [disabled]="sudoDisabled">
            SUDO
        </button>
    </div>

    <!-- TODO - status label -->
</form>
