$color: #00B5AD

\:host
    align-items: center
    border: 1px solid $color
    border-radius: .28571429rem
    box-shadow: none
    color: $color
    display: flex
    font-size: .85714286rem
    font-weight: 500
    line-height: 1.2em
    padding: .5833em .833em

    label
        margin-left: 8px
