form
    display: flex
    flex-direction: column

    & > *
        margin: 4px 0

        &:first-child
            align-self: flex-start

        &:nth-child(3)
            padding-top: 20px

    button
        align-self: center
        margin-top: 0

    .status-label
        margin-top: 16px
        word-break: break-word
