.block-number
    font-size: 4rem

.mat-card-content
    color: rgb(0, 0, 0, 0.87)
    display: flex
    flex-direction: column
    font-size: 1em
    font-weight: 400
    margin: 0
    text-transform: uppercase

    label
        text-align: center