<div>
    <app-header></app-header>

    <!-- <div class="block-header-row">
        <app-node-info></app-node-info>
        <app-metadata></app-metadata>
        <app-block-number></app-block-number>
        <app-block-number [finalized]="true"></app-block-number>
    </div>

    <app-balances></app-balances> -->

    <div class="components">
        <app-transfer></app-transfer>
        <app-upgrade></app-upgrade>
        <app-interactor></app-interactor>
        <app-events></app-events>
        <app-template-module></app-template-module>
    </div>    
</div>