<!-- <router-outlet></router-outlet> -->
<style>
    .block-header-row {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        padding: 1rem 0;
    }

    .block-header-row > * {
        flex: 1 1 0;
        margin: 1rem;
    }
</style>
<div class="block-header-row">
    <app-node-info></app-node-info>
    <app-metadata></app-metadata>
    <app-block-number></app-block-number>
    <app-block-number [finalized]="true"></app-block-number>
</div>