\:host
    display: block
    margin: 0 auto !important
    max-width: 100% !important
    width: 1127px

    app-header
        background: white
        margin: 0 -16px
        padding: 0 16px
        position: sticky
        top: 0
        z-index: 1000

    & > div
        margin: 0 64px

.spinner-container
    left: calc(50% - 50px)
    margin: 0 !important
    position: absolute
    top: calc(50% - 50px)

.components
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    & > *
        flex-basis: 45%
        max-width: 45%
        margin: 32px 0